<form name="form" autocomplete="off">
  <div class="modal-header" ng-class="{ 'pointer': $ctrl.isCollapsable }" ng-click="$ctrl.switchComposeState()">
    <h3 class="modal-title" ng-bind-html="$ctrl.title"></h3>
  </div>

  <div uib-collapse="isCollapsed && $ctrl.isCollapsable" class="modal-body">
    <div ng-if="$ctrl.text" ng-bind-html="$ctrl.text" ng-class="{ 'margin-sm-bottom': $ctrl.inputs.length }"></div>

    <div ng-repeat="item in $ctrl.inputs track by $index">
      <div class="form-group" ng-class="{ 'has-error': form[item.map].$invalid, 'has-success': form[item.map].$valid, 'hug-bottom': $last }">
        <label ng-if="item.label" ng-bind-html="item.label" class="{{ item.extraLabelClasses }}" for="{{ item.map }}"></label>

        <span ng-switch="item.type">
          <span ng-switch-when="textarea">
            <textarea class="form-control resize-vertical" class="form-control {{ item.extraInputClasses }}" placeholder="{{ item.placeholder }}" ng-model="item.value" step="{{ item.step }}" name="{{ item.map }}" id="{{ item.map }}" maxlength="{{ item.maxlength }}" minlength="{{ item.minlength }}" ng-required="item.required" rows="8" autofocus="{{ $first }}"></textarea>
          </span>
          <span ng-switch-default>
            <input type="{{ item.type }}" class="form-control {{ item.extraInputClasses }}" placeholder="{{ item.placeholder }}" ng-model="item.value" step="{{ item.step }}" name="{{ item.map }}" id="{{ item.map }}" maxlength="{{ item.maxlength }}" minlength="{{ item.minlength }}" ng-min="item.min" ng-max="item.max" ng-pattern="item.pattern" ng-required="item.required" compare-to="$ctrl.inputs[item.compareTo].value" autofocus="{{ $first }}">
          </span>
        </span>

        <span class="help-block" ng-messages="form[item.map].$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="minlength">Length must be greater than or equal to {{ item.minlength }}.</span>
          <span ng-message="min">Value must be greater than or equal to {{ item.min }}.</span>
          <span ng-message="maxlength">Length must be lower than or equal to {{ item.maxlength }}.</span>
          <span ng-message="max">Value must be lower than or equal to {{ item.max }}.</span>
          <span ng-message="compareTo">Field doesn't match.</span>
          <span ng-message="pattern" ng-bind-html="item.petternErrorMessage"></span>
        </span>
      </div>
    </div>

    <div ng-repeat="item in $ctrl.selects track by $index">
      <div class="form-group margin-top" ng-class="{ 'has-error': !item.value, 'has-success': item.value, 'hug-bottom': $last }">
        <label ng-if="item.label" ng-bind-html="item.label" class="{{ item.extraLabelClasses }}" for="{{ item.map }}"></label>

        <select class="form-control {{ item.extraInputClasses }}" placeholder="{{ item.placeholder }}" ng-model="item.value" name="{{ item.map }}" id="{{ item.map }}" ng-required="item.required" compare-to="$ctrl.selects[item.compareTo].value">
          <option ng-repeat="d in item.data track by $index" value="{{ item.idField ? d[item.idField] : d }}">{{ d[item.nameField] }}
          </option>
        </select>

        <span class="help-block" ng-messages="form[item.map].$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="compareTo">Field doesn't match.</span>
        </span>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button class="btn btn-danger btn-link" type="button" ng-click="$ctrl.cancel()" ng-bind-html="$ctrl.cancelButtonText"></button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-bind-html="$ctrl.confirmButtonText" ng-disabled="form.$invalid"></button>
  </div>
</form>
