.input-group {
  div:first-child .form-control {
    border-radius: $input-border-radius !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  div:last-child .form-control {
    border-radius: $input-border-radius !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}
