<div class="container-fluid expand">
  <div class="row">
    <div class="col-12 btn btn-card flex justify-content-center align-items-center"
         ui-sref="root.sales">
      <i class="fa fa-fw fa-shopping-cart fa-2x margin-right"></i>
      Ventas
    </div>

    <div class="col-12 btn btn-card flex justify-content-center align-items-center"
         ui-sref="root.inventory">
      <i class="fa fa-fw fa-book fa-2x margin-right"></i>
      Inventario
    </div>

    <div class="col-12 btn btn-card flex justify-content-center align-items-center"
         ui-sref="root.products">
      <i class="fa fa-fw fa-list-alt fa-2x margin-right"></i>
      Productos
    </div>
  </div>
</div>
