<table-actions button-settings="{ create: true, search: true, filter: false }"
               on-refresh="$ctrl.refresh()"
               on-create="$ctrl.create()"
               on-search="$ctrl.load(query)"
               filter-toggle-value="$ctrl.filters"
               search-toggle-value="$ctrl.showSearch">
  <!-- Transclude -->
  <li ng-if="$ctrl.selectedProduct"
      ng-click="$ctrl.selectedProduct = null">
    <i class="fa fa-fw fa-arrow-left"></i> <span class="block">Volver</span>
  </li>

  <li ui-sref="root.home">
    <i class="fa fa-fw fa-home"></i> <span class="block">Inicio</span>
  </li>
</table-actions>

<div cg-busy="$ctrl.loadingPromise">
  <div>
    <!-- Product Table -->
    <div class="row"
         ng-if="!$ctrl.selectedProduct">
      <div class="col-12 text-center font-xl row-frame pointer"
           ng-repeat="item in $ctrl.products"
           ng-click="$ctrl.selectedProduct = item; $ctrl.loadInventory()">
        {{ item.name }}
      </div>
    </div>
    <!-- /Product Table -->

    <!-- Inventory Table -->
    <h3 class="font-xl text-center"
        ng-if="$ctrl.selectedProduct">
      {{ $ctrl.selectedProduct.name }}
    </h3>

    <table class="table table-striped"
           ng-if="$ctrl.selectedProduct">
      <colgroup>
        <col width="50%">
        <col width="30%">
        <col width="20%">
      </colgroup>
      <tbody>
        <thead>
          <th>Dueño</th>
          <th>Cantidad</th>
          <th>Fecha añadido</th>
        </thead>
        <tr ng-repeat="item in $ctrl.inventory | orderBy:'-createdAt'">
          <td class="text-nowrap text-center">
            {{ item.owner.name | available:'Todos' }}
          </td>

          <td class="text-nowrap text-center">
            {{ item.amount | number:0 }}
          </td>

          <td class="text-nowrap text-center">
            {{ item.createdAt | date:'dd/MM/yyyy' }}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /Inventory Table -->
  </div>
</div>
